PUBLIC_FORMSPREE_ENDPOINT=https://formspree.io/f/meeronwg
PUBLIC_SITE_URL=https://your-github-user.github.io/your-repo
PUBLIC_BASE_PATH=/your-repo
PUBLIC_SANITY_PROJECT_ID=your-sanity-project-id
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2026-07-01
SANITY_STUDIO_PROJECT_ID=your-sanity-project-id
SANITY_STUDIO_DATASET=production
